/*@tailwind components;*/
/*@tailwind utilities;*/

body {
    padding-top: 100px;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #e6e6e6;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid;
}

nav {
    display: flex;
    gap: 10px;
}

a {
    font-weight: 700;
    font-size: 22px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    font-size: 40px;
    background-color: #e2e6eb;
}
